{% extends "base.html" %}
{% block title %}Сброс пароля прошёл успешно{% endblock %}
{% block content %}
    {% load user_filters %}
    <body>
        <main>
            {% with card_header='Восстановление пароля завершено' card_body='Ваш пароль был сохранен. Используйте его для входа' %}
                {% include 'users/includes/card.html' %}
            {% endwith %}
            <div class="col-md-6 offset-md-5">
                <a href= {% url 'users:login' %}>
                    <button type="submit" class="btn btn-primary">Войти</button>
                </a>
            </div>
        </main>
    </body>
{% endblock %}
